on property:sys.boot_completed=1
    start smart_speaker_firstboot

service smart_speaker_firstboot /system/bin/sh /vendor/etc/smart_speaker_defaults.sh
    user system
    group system
    oneshot
    disabled
    seclabel u:r:shell:s0
